@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
.color-red-50 {
  color: #ffebee; }

.bg-color-red-50 {
  background-color: #ffebee; }

.color-red-100 {
  color: #ffcdd2; }

.bg-color-red-100 {
  background-color: #ffcdd2; }

.color-red-200 {
  color: #ef9a9a; }

.bg-color-red-200 {
  background-color: #ef9a9a; }

.color-red-300 {
  color: #e57373; }

.bg-color-red-300 {
  background-color: #e57373; }

.color-red-400 {
  color: #ef5350; }

.bg-color-red-400 {
  background-color: #ef5350; }

.color-red-500 {
  color: #f44336; }

.bg-color-red-500 {
  background-color: #f44336; }

.color-red-600 {
  color: #e53935; }

.bg-color-red-600 {
  background-color: #e53935; }

.color-red-700 {
  color: #d32f2f; }

.bg-color-red-700 {
  background-color: #d32f2f; }

.color-red-800 {
  color: #c62828; }

.bg-color-red-800 {
  background-color: #c62828; }

.color-red-900 {
  color: #b71c1c; }

.bg-color-red-900 {
  background-color: #b71c1c; }

.color-red-a100 {
  color: #ff8a80; }

.bg-color-red-a100 {
  background-color: #ff8a80; }

.color-red-a200 {
  color: #ff5252; }

.bg-color-red-a200 {
  background-color: #ff5252; }

.color-red-a400 {
  color: #ff1744; }

.bg-color-red-a400 {
  background-color: #ff1744; }

.color-red-a700 {
  color: #d50000; }

.bg-color-red-a700 {
  background-color: #d50000; }

.color-pink-50 {
  color: #fce4ec; }

.bg-color-pink-50 {
  background-color: #fce4ec; }

.color-pink-100 {
  color: #f8bbd0; }

.bg-color-pink-100 {
  background-color: #f8bbd0; }

.color-pink-200 {
  color: #f48fb1; }

.bg-color-pink-200 {
  background-color: #f48fb1; }

.color-pink-300 {
  color: #f06292; }

.bg-color-pink-300 {
  background-color: #f06292; }

.color-pink-400 {
  color: #ec407a; }

.bg-color-pink-400 {
  background-color: #ec407a; }

.color-pink-500 {
  color: #e91e63; }

.bg-color-pink-500 {
  background-color: #e91e63; }

.color-pink-600 {
  color: #d81b60; }

.bg-color-pink-600 {
  background-color: #d81b60; }

.color-pink-700 {
  color: #c2185b; }

.bg-color-pink-700 {
  background-color: #c2185b; }

.color-pink-800 {
  color: #ad1457; }

.bg-color-pink-800 {
  background-color: #ad1457; }

.color-pink-900 {
  color: #880e4f; }

.bg-color-pink-900 {
  background-color: #880e4f; }

.color-pink-a100 {
  color: #ff80ab; }

.bg-color-pink-a100 {
  background-color: #ff80ab; }

.color-pink-a200 {
  color: #ff4081; }

.bg-color-pink-a200 {
  background-color: #ff4081; }

.color-pink-a400 {
  color: #f50057; }

.bg-color-pink-a400 {
  background-color: #f50057; }

.color-pink-a700 {
  color: #c51162; }

.bg-color-pink-a700 {
  background-color: #c51162; }

.color-purple-50 {
  color: #f3e5f5; }

.bg-color-purple-50 {
  background-color: #f3e5f5; }

.color-purple-100 {
  color: #e1bee7; }

.bg-color-purple-100 {
  background-color: #e1bee7; }

.color-purple-200 {
  color: #ce93d8; }

.bg-color-purple-200 {
  background-color: #ce93d8; }

.color-purple-300 {
  color: #ba68c8; }

.bg-color-purple-300 {
  background-color: #ba68c8; }

.color-purple-400 {
  color: #ab47bc; }

.bg-color-purple-400 {
  background-color: #ab47bc; }

.color-purple-500 {
  color: #9c27b0; }

.bg-color-purple-500 {
  background-color: #9c27b0; }

.color-purple-600 {
  color: #8e24aa; }

.bg-color-purple-600 {
  background-color: #8e24aa; }

.color-purple-700 {
  color: #7b1fa2; }

.bg-color-purple-700 {
  background-color: #7b1fa2; }

.color-purple-800 {
  color: #6a1b9a; }

.bg-color-purple-800 {
  background-color: #6a1b9a; }

.color-purple-900 {
  color: #4a148c; }

.bg-color-purple-900 {
  background-color: #4a148c; }

.color-purple-a100 {
  color: #ea80fc; }

.bg-color-purple-a100 {
  background-color: #ea80fc; }

.color-purple-a200 {
  color: #e040fb; }

.bg-color-purple-a200 {
  background-color: #e040fb; }

.color-purple-a400 {
  color: #d500f9; }

.bg-color-purple-a400 {
  background-color: #d500f9; }

.color-purple-a700 {
  color: #aa00ff; }

.bg-color-purple-a700 {
  background-color: #aa00ff; }

.color-deep-purple-50 {
  color: #ede7f6; }

.bg-color-deep-purple-50 {
  background-color: #ede7f6; }

.color-deep-purple-100 {
  color: #d1c4e9; }

.bg-color-deep-purple-100 {
  background-color: #d1c4e9; }

.color-deep-purple-200 {
  color: #b39ddb; }

.bg-color-deep-purple-200 {
  background-color: #b39ddb; }

.color-deep-purple-300 {
  color: #9575cd; }

.bg-color-deep-purple-300 {
  background-color: #9575cd; }

.color-deep-purple-400 {
  color: #7e57c2; }

.bg-color-deep-purple-400 {
  background-color: #7e57c2; }

.color-deep-purple-500 {
  color: #673ab7; }

.bg-color-deep-purple-500 {
  background-color: #673ab7; }

.color-deep-purple-600 {
  color: #5e35b1; }

.bg-color-deep-purple-600 {
  background-color: #5e35b1; }

.color-deep-purple-700 {
  color: #512da8; }

.bg-color-deep-purple-700 {
  background-color: #512da8; }

.color-deep-purple-800 {
  color: #4527a0; }

.bg-color-deep-purple-800 {
  background-color: #4527a0; }

.color-deep-purple-900 {
  color: #311b92; }

.bg-color-deep-purple-900 {
  background-color: #311b92; }

.color-deep-purple-a100 {
  color: #b388ff; }

.bg-color-deep-purple-a100 {
  background-color: #b388ff; }

.color-deep-purple-a200 {
  color: #7c4dff; }

.bg-color-deep-purple-a200 {
  background-color: #7c4dff; }

.color-deep-purple-a400 {
  color: #651fff; }

.bg-color-deep-purple-a400 {
  background-color: #651fff; }

.color-deep-purple-a700 {
  color: #6200ea; }

.bg-color-deep-purple-a700 {
  background-color: #6200ea; }

.color-indigo-50 {
  color: #e8eaf6; }

.bg-color-indigo-50 {
  background-color: #e8eaf6; }

.color-indigo-100 {
  color: #c5cae9; }

.bg-color-indigo-100 {
  background-color: #c5cae9; }

.color-indigo-200 {
  color: #9fa8da; }

.bg-color-indigo-200 {
  background-color: #9fa8da; }

.color-indigo-300 {
  color: #7986cb; }

.bg-color-indigo-300 {
  background-color: #7986cb; }

.color-indigo-400 {
  color: #5c6bc0; }

.bg-color-indigo-400 {
  background-color: #5c6bc0; }

.color-indigo-500 {
  color: #3f51b5; }

.bg-color-indigo-500 {
  background-color: #3f51b5; }

.color-indigo-600 {
  color: #3949ab; }

.bg-color-indigo-600 {
  background-color: #3949ab; }

.color-indigo-700 {
  color: #303f9f; }

.bg-color-indigo-700 {
  background-color: #303f9f; }

.color-indigo-800 {
  color: #283593; }

.bg-color-indigo-800 {
  background-color: #283593; }

.color-indigo-900 {
  color: #1a237e; }

.bg-color-indigo-900 {
  background-color: #1a237e; }

.color-indigo-a100 {
  color: #8c9eff; }

.bg-color-indigo-a100 {
  background-color: #8c9eff; }

.color-indigo-a200 {
  color: #536dfe; }

.bg-color-indigo-a200 {
  background-color: #536dfe; }

.color-indigo-a400 {
  color: #3d5afe; }

.bg-color-indigo-a400 {
  background-color: #3d5afe; }

.color-indigo-a700 {
  color: #304ffe; }

.bg-color-indigo-a700 {
  background-color: #304ffe; }

.color-blue-50 {
  color: #e3f2fd; }

.bg-color-blue-50 {
  background-color: #e3f2fd; }

.color-blue-100 {
  color: #bbdefb; }

.bg-color-blue-100 {
  background-color: #bbdefb; }

.color-blue-200 {
  color: #90caf9; }

.bg-color-blue-200 {
  background-color: #90caf9; }

.color-blue-300 {
  color: #64b5f6; }

.bg-color-blue-300 {
  background-color: #64b5f6; }

.color-blue-400 {
  color: #42a5f5; }

.bg-color-blue-400 {
  background-color: #42a5f5; }

.color-blue-500 {
  color: #2196f3; }

.bg-color-blue-500 {
  background-color: #2196f3; }

.color-blue-600 {
  color: #1e88e5; }

.bg-color-blue-600 {
  background-color: #1e88e5; }

.color-blue-700 {
  color: #1976d2; }

.bg-color-blue-700 {
  background-color: #1976d2; }

.color-blue-800 {
  color: #1565c0; }

.bg-color-blue-800 {
  background-color: #1565c0; }

.color-blue-900 {
  color: #0d47a1; }

.bg-color-blue-900 {
  background-color: #0d47a1; }

.color-blue-a100 {
  color: #82b1ff; }

.bg-color-blue-a100 {
  background-color: #82b1ff; }

.color-blue-a200 {
  color: #448aff; }

.bg-color-blue-a200 {
  background-color: #448aff; }

.color-blue-a400 {
  color: #2979ff; }

.bg-color-blue-a400 {
  background-color: #2979ff; }

.color-blue-a700 {
  color: #2962ff; }

.bg-color-blue-a700 {
  background-color: #2962ff; }

.color-light-blue-50 {
  color: #e1f5fe; }

.bg-color-light-blue-50 {
  background-color: #e1f5fe; }

.color-light-blue-100 {
  color: #b3e5fc; }

.bg-color-light-blue-100 {
  background-color: #b3e5fc; }

.color-light-blue-200 {
  color: #81d4fa; }

.bg-color-light-blue-200 {
  background-color: #81d4fa; }

.color-light-blue-300 {
  color: #4fc3f7; }

.bg-color-light-blue-300 {
  background-color: #4fc3f7; }

.color-light-blue-400 {
  color: #29b6f6; }

.bg-color-light-blue-400 {
  background-color: #29b6f6; }

.color-light-blue-500 {
  color: #03a9f4; }

.bg-color-light-blue-500 {
  background-color: #03a9f4; }

.color-light-blue-600 {
  color: #039be5; }

.bg-color-light-blue-600 {
  background-color: #039be5; }

.color-light-blue-700 {
  color: #0288d1; }

.bg-color-light-blue-700 {
  background-color: #0288d1; }

.color-light-blue-800 {
  color: #0277bd; }

.bg-color-light-blue-800 {
  background-color: #0277bd; }

.color-light-blue-900 {
  color: #01579b; }

.bg-color-light-blue-900 {
  background-color: #01579b; }

.color-light-blue-a100 {
  color: #80d8ff; }

.bg-color-light-blue-a100 {
  background-color: #80d8ff; }

.color-light-blue-a200 {
  color: #40c4ff; }

.bg-color-light-blue-a200 {
  background-color: #40c4ff; }

.color-light-blue-a400 {
  color: #00b0ff; }

.bg-color-light-blue-a400 {
  background-color: #00b0ff; }

.color-light-blue-a700 {
  color: #0091ea; }

.bg-color-light-blue-a700 {
  background-color: #0091ea; }

.color-cyan-50 {
  color: #e0f7fa; }

.bg-color-cyan-50 {
  background-color: #e0f7fa; }

.color-cyan-100 {
  color: #b2ebf2; }

.bg-color-cyan-100 {
  background-color: #b2ebf2; }

.color-cyan-200 {
  color: #80deea; }

.bg-color-cyan-200 {
  background-color: #80deea; }

.color-cyan-300 {
  color: #4dd0e1; }

.bg-color-cyan-300 {
  background-color: #4dd0e1; }

.color-cyan-400 {
  color: #26c6da; }

.bg-color-cyan-400 {
  background-color: #26c6da; }

.color-cyan-500 {
  color: #00bcd4; }

.bg-color-cyan-500 {
  background-color: #00bcd4; }

.color-cyan-600 {
  color: #00acc1; }

.bg-color-cyan-600 {
  background-color: #00acc1; }

.color-cyan-700 {
  color: #0097a7; }

.bg-color-cyan-700 {
  background-color: #0097a7; }

.color-cyan-800 {
  color: #00838f; }

.bg-color-cyan-800 {
  background-color: #00838f; }

.color-cyan-900 {
  color: #006064; }

.bg-color-cyan-900 {
  background-color: #006064; }

.color-cyan-a100 {
  color: #84ffff; }

.bg-color-cyan-a100 {
  background-color: #84ffff; }

.color-cyan-a200 {
  color: #18ffff; }

.bg-color-cyan-a200 {
  background-color: #18ffff; }

.color-cyan-a400 {
  color: #00e5ff; }

.bg-color-cyan-a400 {
  background-color: #00e5ff; }

.color-cyan-a700 {
  color: #00b8d4; }

.bg-color-cyan-a700 {
  background-color: #00b8d4; }

.color-teal-50 {
  color: #e0f2f1; }

.bg-color-teal-50 {
  background-color: #e0f2f1; }

.color-teal-100 {
  color: #b2dfdb; }

.bg-color-teal-100 {
  background-color: #b2dfdb; }

.color-teal-200 {
  color: #80cbc4; }

.bg-color-teal-200 {
  background-color: #80cbc4; }

.color-teal-300 {
  color: #4db6ac; }

.bg-color-teal-300 {
  background-color: #4db6ac; }

.color-teal-400 {
  color: #26a69a; }

.bg-color-teal-400 {
  background-color: #26a69a; }

.color-teal-500 {
  color: #009688; }

.bg-color-teal-500 {
  background-color: #009688; }

.color-teal-600 {
  color: #00897b; }

.bg-color-teal-600 {
  background-color: #00897b; }

.color-teal-700 {
  color: #00796b; }

.bg-color-teal-700 {
  background-color: #00796b; }

.color-teal-800 {
  color: #00695c; }

.bg-color-teal-800 {
  background-color: #00695c; }

.color-teal-900 {
  color: #004d40; }

.bg-color-teal-900 {
  background-color: #004d40; }

.color-teal-a100 {
  color: #a7ffeb; }

.bg-color-teal-a100 {
  background-color: #a7ffeb; }

.color-teal-a200 {
  color: #64ffda; }

.bg-color-teal-a200 {
  background-color: #64ffda; }

.color-teal-a400 {
  color: #1de9b6; }

.bg-color-teal-a400 {
  background-color: #1de9b6; }

.color-teal-a700 {
  color: #00bfa5; }

.bg-color-teal-a700 {
  background-color: #00bfa5; }

.color-green-50 {
  color: #e8f5e9; }

.bg-color-green-50 {
  background-color: #e8f5e9; }

.color-green-100 {
  color: #c8e6c9; }

.bg-color-green-100 {
  background-color: #c8e6c9; }

.color-green-200 {
  color: #a5d6a7; }

.bg-color-green-200 {
  background-color: #a5d6a7; }

.color-green-300 {
  color: #81c784; }

.bg-color-green-300 {
  background-color: #81c784; }

.color-green-400 {
  color: #66bb6a; }

.bg-color-green-400 {
  background-color: #66bb6a; }

.color-green-500 {
  color: #4caf50; }

.bg-color-green-500 {
  background-color: #4caf50; }

.color-green-600 {
  color: #43a047; }

.bg-color-green-600 {
  background-color: #43a047; }

.color-green-700 {
  color: #388e3c; }

.bg-color-green-700 {
  background-color: #388e3c; }

.color-green-800 {
  color: #2e7d32; }

.bg-color-green-800 {
  background-color: #2e7d32; }

.color-green-900 {
  color: #1b5e20; }

.bg-color-green-900 {
  background-color: #1b5e20; }

.color-green-a100 {
  color: #b9f6ca; }

.bg-color-green-a100 {
  background-color: #b9f6ca; }

.color-green-a200 {
  color: #69f0ae; }

.bg-color-green-a200 {
  background-color: #69f0ae; }

.color-green-a400 {
  color: #00e676; }

.bg-color-green-a400 {
  background-color: #00e676; }

.color-green-a700 {
  color: #00c853; }

.bg-color-green-a700 {
  background-color: #00c853; }

.color-light-green-50 {
  color: #f1f8e9; }

.bg-color-light-green-50 {
  background-color: #f1f8e9; }

.color-light-green-100 {
  color: #dcedc8; }

.bg-color-light-green-100 {
  background-color: #dcedc8; }

.color-light-green-200 {
  color: #c5e1a5; }

.bg-color-light-green-200 {
  background-color: #c5e1a5; }

.color-light-green-300 {
  color: #aed581; }

.bg-color-light-green-300 {
  background-color: #aed581; }

.color-light-green-400 {
  color: #9ccc65; }

.bg-color-light-green-400 {
  background-color: #9ccc65; }

.color-light-green-500 {
  color: #8bc34a; }

.bg-color-light-green-500 {
  background-color: #8bc34a; }

.color-light-green-600 {
  color: #7cb342; }

.bg-color-light-green-600 {
  background-color: #7cb342; }

.color-light-green-700 {
  color: #689f38; }

.bg-color-light-green-700 {
  background-color: #689f38; }

.color-light-green-800 {
  color: #558b2f; }

.bg-color-light-green-800 {
  background-color: #558b2f; }

.color-light-green-900 {
  color: #33691e; }

.bg-color-light-green-900 {
  background-color: #33691e; }

.color-light-green-a100 {
  color: #ccff90; }

.bg-color-light-green-a100 {
  background-color: #ccff90; }

.color-light-green-a200 {
  color: #b2ff59; }

.bg-color-light-green-a200 {
  background-color: #b2ff59; }

.color-light-green-a400 {
  color: #76ff03; }

.bg-color-light-green-a400 {
  background-color: #76ff03; }

.color-light-green-a700 {
  color: #64dd17; }

.bg-color-light-green-a700 {
  background-color: #64dd17; }

.color-lime-50 {
  color: #f9fbe7; }

.bg-color-lime-50 {
  background-color: #f9fbe7; }

.color-lime-100 {
  color: #f0f4c3; }

.bg-color-lime-100 {
  background-color: #f0f4c3; }

.color-lime-200 {
  color: #e6ee9c; }

.bg-color-lime-200 {
  background-color: #e6ee9c; }

.color-lime-300 {
  color: #dce775; }

.bg-color-lime-300 {
  background-color: #dce775; }

.color-lime-400 {
  color: #d4e157; }

.bg-color-lime-400 {
  background-color: #d4e157; }

.color-lime-500 {
  color: #cddc39; }

.bg-color-lime-500 {
  background-color: #cddc39; }

.color-lime-600 {
  color: #c0ca33; }

.bg-color-lime-600 {
  background-color: #c0ca33; }

.color-lime-700 {
  color: #afb42b; }

.bg-color-lime-700 {
  background-color: #afb42b; }

.color-lime-800 {
  color: #9e9d24; }

.bg-color-lime-800 {
  background-color: #9e9d24; }

.color-lime-900 {
  color: #827717; }

.bg-color-lime-900 {
  background-color: #827717; }

.color-lime-a100 {
  color: #f4ff81; }

.bg-color-lime-a100 {
  background-color: #f4ff81; }

.color-lime-a200 {
  color: #eeff41; }

.bg-color-lime-a200 {
  background-color: #eeff41; }

.color-lime-a400 {
  color: #c6ff00; }

.bg-color-lime-a400 {
  background-color: #c6ff00; }

.color-lime-a700 {
  color: #aeea00; }

.bg-color-lime-a700 {
  background-color: #aeea00; }

.color-yellow-50 {
  color: #fffde7; }

.bg-color-yellow-50 {
  background-color: #fffde7; }

.color-yellow-100 {
  color: #fff9c4; }

.bg-color-yellow-100 {
  background-color: #fff9c4; }

.color-yellow-200 {
  color: #fff59d; }

.bg-color-yellow-200 {
  background-color: #fff59d; }

.color-yellow-300 {
  color: #fff176; }

.bg-color-yellow-300 {
  background-color: #fff176; }

.color-yellow-400 {
  color: #ffee58; }

.bg-color-yellow-400 {
  background-color: #ffee58; }

.color-yellow-500 {
  color: #ffeb3b; }

.bg-color-yellow-500 {
  background-color: #ffeb3b; }

.color-yellow-600 {
  color: #fdd835; }

.bg-color-yellow-600 {
  background-color: #fdd835; }

.color-yellow-700 {
  color: #fbc02d; }

.bg-color-yellow-700 {
  background-color: #fbc02d; }

.color-yellow-800 {
  color: #f9a825; }

.bg-color-yellow-800 {
  background-color: #f9a825; }

.color-yellow-900 {
  color: #f57f17; }

.bg-color-yellow-900 {
  background-color: #f57f17; }

.color-yellow-a100 {
  color: #ffff8d; }

.bg-color-yellow-a100 {
  background-color: #ffff8d; }

.color-yellow-a200 {
  color: #ffff00; }

.bg-color-yellow-a200 {
  background-color: #ffff00; }

.color-yellow-a400 {
  color: #ffea00; }

.bg-color-yellow-a400 {
  background-color: #ffea00; }

.color-yellow-a700 {
  color: #ffd600; }

.bg-color-yellow-a700 {
  background-color: #ffd600; }

.color-amber-50 {
  color: #fff8e1; }

.bg-color-amber-50 {
  background-color: #fff8e1; }

.color-amber-100 {
  color: #ffecb3; }

.bg-color-amber-100 {
  background-color: #ffecb3; }

.color-amber-200 {
  color: #ffe082; }

.bg-color-amber-200 {
  background-color: #ffe082; }

.color-amber-300 {
  color: #ffd54f; }

.bg-color-amber-300 {
  background-color: #ffd54f; }

.color-amber-400 {
  color: #ffca28; }

.bg-color-amber-400 {
  background-color: #ffca28; }

.color-amber-500 {
  color: #ffc107; }

.bg-color-amber-500 {
  background-color: #ffc107; }

.color-amber-600 {
  color: #ffb300; }

.bg-color-amber-600 {
  background-color: #ffb300; }

.color-amber-700 {
  color: #ffa000; }

.bg-color-amber-700 {
  background-color: #ffa000; }

.color-amber-800 {
  color: #ff8f00; }

.bg-color-amber-800 {
  background-color: #ff8f00; }

.color-amber-900 {
  color: #ff6f00; }

.bg-color-amber-900 {
  background-color: #ff6f00; }

.color-amber-a100 {
  color: #ffe57f; }

.bg-color-amber-a100 {
  background-color: #ffe57f; }

.color-amber-a200 {
  color: #ffd740; }

.bg-color-amber-a200 {
  background-color: #ffd740; }

.color-amber-a400 {
  color: #ffc400; }

.bg-color-amber-a400 {
  background-color: #ffc400; }

.color-amber-a700 {
  color: #ffab00; }

.bg-color-amber-a700 {
  background-color: #ffab00; }

.color-orange-50 {
  color: #fff3e0; }

.bg-color-orange-50 {
  background-color: #fff3e0; }

.color-orange-100 {
  color: #ffe0b2; }

.bg-color-orange-100 {
  background-color: #ffe0b2; }

.color-orange-200 {
  color: #ffcc80; }

.bg-color-orange-200 {
  background-color: #ffcc80; }

.color-orange-300 {
  color: #ffb74d; }

.bg-color-orange-300 {
  background-color: #ffb74d; }

.color-orange-400 {
  color: #ffa726; }

.bg-color-orange-400 {
  background-color: #ffa726; }

.color-orange-500 {
  color: #ff9800; }

.bg-color-orange-500 {
  background-color: #ff9800; }

.color-orange-600 {
  color: #fb8c00; }

.bg-color-orange-600 {
  background-color: #fb8c00; }

.color-orange-700 {
  color: #f57c00; }

.bg-color-orange-700 {
  background-color: #f57c00; }

.color-orange-800 {
  color: #ef6c00; }

.bg-color-orange-800 {
  background-color: #ef6c00; }

.color-orange-900 {
  color: #e65100; }

.bg-color-orange-900 {
  background-color: #e65100; }

.color-orange-a100 {
  color: #ffd180; }

.bg-color-orange-a100 {
  background-color: #ffd180; }

.color-orange-a200 {
  color: #ffab40; }

.bg-color-orange-a200 {
  background-color: #ffab40; }

.color-orange-a400 {
  color: #ff9100; }

.bg-color-orange-a400 {
  background-color: #ff9100; }

.color-orange-a700 {
  color: #ff6d00; }

.bg-color-orange-a700 {
  background-color: #ff6d00; }

.color-deep-orange-50 {
  color: #fbe9e7; }

.bg-color-deep-orange-50 {
  background-color: #fbe9e7; }

.color-deep-orange-100 {
  color: #ffccbc; }

.bg-color-deep-orange-100 {
  background-color: #ffccbc; }

.color-deep-orange-200 {
  color: #ffab91; }

.bg-color-deep-orange-200 {
  background-color: #ffab91; }

.color-deep-orange-300 {
  color: #ff8a65; }

.bg-color-deep-orange-300 {
  background-color: #ff8a65; }

.color-deep-orange-400 {
  color: #ff7043; }

.bg-color-deep-orange-400 {
  background-color: #ff7043; }

.color-deep-orange-500 {
  color: #ff5722; }

.bg-color-deep-orange-500 {
  background-color: #ff5722; }

.color-deep-orange-600 {
  color: #f4511e; }

.bg-color-deep-orange-600 {
  background-color: #f4511e; }

.color-deep-orange-700 {
  color: #e64a19; }

.bg-color-deep-orange-700 {
  background-color: #e64a19; }

.color-deep-orange-800 {
  color: #d84315; }

.bg-color-deep-orange-800 {
  background-color: #d84315; }

.color-deep-orange-900 {
  color: #bf360c; }

.bg-color-deep-orange-900 {
  background-color: #bf360c; }

.color-deep-orange-a100 {
  color: #ff9e80; }

.bg-color-deep-orange-a100 {
  background-color: #ff9e80; }

.color-deep-orange-a200 {
  color: #ff6e40; }

.bg-color-deep-orange-a200 {
  background-color: #ff6e40; }

.color-deep-orange-a400 {
  color: #ff3d00; }

.bg-color-deep-orange-a400 {
  background-color: #ff3d00; }

.color-deep-orange-a700 {
  color: #dd2c00; }

.bg-color-deep-orange-a700 {
  background-color: #dd2c00; }

.color-brown-50 {
  color: #efebe9; }

.bg-color-brown-50 {
  background-color: #efebe9; }

.color-brown-100 {
  color: #d7ccc8; }

.bg-color-brown-100 {
  background-color: #d7ccc8; }

.color-brown-200 {
  color: #bcaaa4; }

.bg-color-brown-200 {
  background-color: #bcaaa4; }

.color-brown-300 {
  color: #a1887f; }

.bg-color-brown-300 {
  background-color: #a1887f; }

.color-brown-400 {
  color: #8d6e63; }

.bg-color-brown-400 {
  background-color: #8d6e63; }

.color-brown-500 {
  color: #795548; }

.bg-color-brown-500 {
  background-color: #795548; }

.color-brown-600 {
  color: #6d4c41; }

.bg-color-brown-600 {
  background-color: #6d4c41; }

.color-brown-700 {
  color: #5d4037; }

.bg-color-brown-700 {
  background-color: #5d4037; }

.color-brown-800 {
  color: #4e342e; }

.bg-color-brown-800 {
  background-color: #4e342e; }

.color-brown-900 {
  color: #3e2723; }

.bg-color-brown-900 {
  background-color: #3e2723; }

.color-grey-50 {
  color: #fafafa; }

.bg-color-grey-50 {
  background-color: #fafafa; }

.color-grey-100 {
  color: #f5f5f5; }

.bg-color-grey-100 {
  background-color: #f5f5f5; }

.color-grey-200 {
  color: #eeeeee; }

.bg-color-grey-200 {
  background-color: #eeeeee; }

.color-grey-300 {
  color: #e0e0e0; }

.bg-color-grey-300 {
  background-color: #e0e0e0; }

.color-grey-400 {
  color: #bdbdbd; }

.bg-color-grey-400 {
  background-color: #bdbdbd; }

.color-grey-500 {
  color: #9e9e9e; }

.bg-color-grey-500 {
  background-color: #9e9e9e; }

.color-grey-600 {
  color: #757575; }

.bg-color-grey-600 {
  background-color: #757575; }

.color-grey-700 {
  color: #616161; }

.bg-color-grey-700 {
  background-color: #616161; }

.color-grey-800 {
  color: #424242; }

.bg-color-grey-800 {
  background-color: #424242; }

.color-grey-900 {
  color: #212121; }

.bg-color-grey-900 {
  background-color: #212121; }

.color-blue-grey-50 {
  color: #eceff1; }

.bg-color-blue-grey-50 {
  background-color: #eceff1; }

.color-blue-grey-100 {
  color: #cfd8dc; }

.bg-color-blue-grey-100 {
  background-color: #cfd8dc; }

.color-blue-grey-200 {
  color: #b0bec5; }

.bg-color-blue-grey-200 {
  background-color: #b0bec5; }

.color-blue-grey-300 {
  color: #90a4ae; }

.bg-color-blue-grey-300 {
  background-color: #90a4ae; }

.color-blue-grey-400 {
  color: #78909c; }

.bg-color-blue-grey-400 {
  background-color: #78909c; }

.color-blue-grey-500 {
  color: #607d8b; }

.bg-color-blue-grey-500 {
  background-color: #607d8b; }

.color-blue-grey-600 {
  color: #546e7a; }

.bg-color-blue-grey-600 {
  background-color: #546e7a; }

.color-blue-grey-700 {
  color: #455a64; }

.bg-color-blue-grey-700 {
  background-color: #455a64; }

.color-blue-grey-800 {
  color: #37474f; }

.bg-color-blue-grey-800 {
  background-color: #37474f; }

.color-blue-grey-900 {
  color: #263238; }

.bg-color-blue-grey-900 {
  background-color: #263238; }

.color-blue-grey-1000 {
  color: #11171a; }

.bg-color-blue-grey-1000 {
  background-color: #11171a; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: none; }

.wrapper {
  position: relative;
  left: 50%;
  width: 1100px;
  height: 800px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-60%, 0); }

.container {
  position: relative;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 75%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.container .left {
  float: left;
  width: 37.6%;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff; }

.container .left .top {
  position: relative;
  width: 100%;
  height: 96px;
  padding: 29px; }

.container .left .top:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.container .left input {
  float: left;
  width: 188px;
  height: 42px;
  padding: 0 15px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  border-radius: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

.container .left input:focus {
  outline: none; }

.container .left a.search {
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 1px solid #e6e6e6;
  background-color: #00b0ff;
  background-image: url("http://s11.postimg.org/dpuahewmn/name_type.png");
  background-repeat: no-repeat;
  background-position: top 12px left 14px;
  border-radius: 50%; }

.container .left .people {
  margin-left: -1px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: calc(100% + 2px); }

.container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: #fff; }

.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

.container .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%; }

.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

.container .left .people .person .time {
  font-size: 14px;
  position: absolute;
  top: 16px;
  right: 10%;
  padding: 0 0 5px 5px;
  color: #999;
  background-color: #fff; }

.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  overflow: hidden !important;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999; }

.container .left .people .person.active, .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #00b0ff;
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px); }

.container .left .people .person.active span, .container .left .people .person:hover span {
  color: #fff;
  background: transparent; }

.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none; }

.container .right {
  position: relative;
  float: left;
  width: 62.4%;
  height: 100%; }

.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1; }

.container .right .top span {
  font-size: 15px;
  color: #999; }

.container .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600; }

.container .right .chat {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 0 35px 92px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e6e6e6;
  height: calc(100% - 48px);
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.container .right .chat.active-chat {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.container .right .chat.active-chat .bubble {
  -webkit-transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
  transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1); }

.container .right .chat.active-chat .bubble:nth-of-type(1) {
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s; }

.container .right .chat.active-chat .bubble:nth-of-type(2) {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s; }

.container .right .chat.active-chat .bubble:nth-of-type(3) {
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s; }

.container .right .chat.active-chat .bubble:nth-of-type(4) {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s; }

.container .right .chat.active-chat .bubble:nth-of-type(5) {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s; }

.container .right .chat.active-chat .bubble:nth-of-type(6) {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s; }

.container .right .chat.active-chat .bubble:nth-of-type(7) {
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s; }

.container .right .chat.active-chat .bubble:nth-of-type(8) {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s; }

.container .right .chat.active-chat .bubble:nth-of-type(9) {
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s; }

.container .right .chat.active-chat .bubble:nth-of-type(10) {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s; }

.container .right .write {
  position: absolute;
  bottom: 29px;
  left: 30px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #eceff1;
  width: calc(100% - 58px);
  border-radius: 5px; }

.container .right .write input {
  font-size: 16px;
  float: left;
  width: 347px;
  height: 40px;
  padding: 0 10px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400; }

.container .right .write .write-link.attach:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("http://s1.postimg.org/s5gfy283f/attachemnt.png");
  background-repeat: no-repeat;
  background-position: center; }

.container .right .write .write-link.smiley:before {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  content: '';
  background-image: url("http://s14.postimg.org/q2ug83h7h/smiley.png");
  background-repeat: no-repeat;
  background-position: center; }

.container .right .write .write-link.send {
  display: inline-block;
  float: left;
  width: 20px;
  height: 42px;
  margin-left: 11px;
  content: '';
  background-image: url("http://s30.postimg.org/nz9dho0pp/send.png");
  background-repeat: no-repeat;
  background-position: center; }

.container .right .bubble {
  font-size: 16px;
  position: relative;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px; }

.container .right .bubble:before {
  position: absolute;
  top: 19px;
  display: block;
  width: 8px;
  height: 6px;
  content: '\00a0';
  -webkit-transform: rotate(29deg) skew(-35deg);
  transform: rotate(29deg) skew(-35deg); }

.container .right .bubble.you {
  float: left;
  color: #fff;
  background-color: #00b0ff;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-animation-name: slideFromLeft;
  animation-name: slideFromLeft; }

.container .right .bubble.you:before {
  left: -3px;
  background-color: #00b0ff; }

.container .right .bubble.me {
  float: right;
  color: #1a1a1a;
  background-color: #eceff1;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-animation-name: slideFromRight;
  animation-name: slideFromRight; }

.container .right .bubble.me:before {
  right: -3px;
  background-color: #eceff1; }

.container .right .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center; }

.container .right .conversation-start span {
  font-size: 14px;
  display: inline-block;
  color: #999; }

.container .right .conversation-start span:before, .container .right .conversation-start span:after {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 30%;
  height: 1px;
  content: '';
  background-color: #e6e6e6; }

.container .right .conversation-start span:before {
  left: 0; }

.container .right .conversation-start span:after {
  right: 0; }

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }
@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }
@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }
@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
